@import "../App.scss";

.main{

  &__wrapper{
    padding: 10rem 2rem 0 2rem;
    @include md{
      padding: 10rem;
    }
    @include xxxl{
      padding: 10rem 20rem 10rem 20rem;
    }
  }
  &__titleBox{
    @include row;
    justify-content: center;
    margin: 0 0 5rem 0;
  }
  &__title{
    text-transform: lowercase;
    &--stroke{
      color: $secondary;
      @include text-border;
    }
    &--firstWord{
      padding-right: 2rem;
    }
    }
    &__imgContainer{
      z-index: -1;
      height: auto;
      width: auto;
      background-color: $background-primary;
      padding: 5rem;
      @include xl{
        width: 70rem;
      }
      @include xxl{
        width: 80rem; 
        padding: 10rem;
      }
    }
    &__img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    filter: drop-shadow(8px 8px 8px #585858) ;
  }
}
.boCapital, .hamster{

  @include row;
  padding: 10rem 0 10rem 0;
 
    @include xl{
      padding: 10rem 0 20rem 0;
      // margin-bottom: -20rem;
    }
  &__title h2, h3{
    z-index: 1;
    box-shadow: 4px 4px 8px rgba(#b8b8b8, .1),-4px -4px 8px rgba(#ececec, .1) ;
    @include xxl {
      margin: 2rem 0 0 -35rem;
      background: #ffffff85;
    }
  }
} 

//goes to right
.portfolio{
  @include row;
  z-index: 1;
  justify-content: flex-end;
  padding: 0rem 0 10rem 0 ;
  @include xl{
    padding: 0 0 20rem 0 ;
  }
  &__title{
    z-index: 1;
  }
  &__title h2, h3{
    box-shadow: -4px -4px 8px rgba(#b8b8b8, .1),-4px -4px 8px rgba(#ececec, .1) ;
    z-index: 1;

    @include xxl{
      background: #ffffff85;
      margin: 2rem -25rem 0 0rem;
    }
  }
}

//hamster uses different padding and shadow
.hamster{
  &__imgContainer{
    z-index: -1;
    height: auto;
    width: auto;
    background-color: $background-primary;
    padding: 5rem 0 0 5rem;
    @include xl{
      width: 70rem;
      
    }
    @include xxl{
      width: 80rem;
      padding: 10rem 0 0 10rem;
    }
  }
  &__img{
  height: 100%;
  width: 100%;
  object-fit: cover;
  filter: drop-shadow(-8px -8px 8px #585858) ;
}
}
